
<!--megasena.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="container">

  <h3>Benvindo grupo</h3>

  <p>Nome do grupo</p>
  <p>Estatisticas</p>
  <p>- número/data do concurso</p>
  <p>- dias faltantes</p>
  <p>- apostas até o dia dd/mm/yyyy</p>
  <p>- lista de usuários</p>
  <p>- palpite único ou só admin</p>
  <p>- total de apostas</p>
  <p>- lista com todos os palpites</p>

  <p>Área do administrador</p>
  <p>- aprovar novos membros</p>
  <p>- ajustar concurso/data</p>
  <p>- fazer verificação</p>
</div>
 

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
