<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Inicio
            </a>
            <a class="navbar-brand h5" href="/">
                Meu grupo
            </a>
            <a class="navbar-brand" href="/">
                Megasena
            </a>
            <a class="navbar-brand" href="/">
                Quina
            </a>
            <a class="navbar-brand" href="/">
                Lotofácil
            </a>
        </div>
    </div>
  </nav>
