<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/welcome">
				Inicio
			</a>
			<a class="navbar-brand" href="/group">
				Meu grupo
			</a>
			<a class="navbar-brand" href="/megasena">
				Megasena
			</a>
			<a class="navbar-brand" href="/quina">
				Quina
			</a>
			<a class="navbar-brand" href="/lotofacil">
				Lotofácil
			</a>
			<a class="navbar-brand" href="/login">
				Entrar
			</a>
			<a class="navbar-brand" href="/register">
				Registro
			</a>
		</div>
	</div>
</nav>
